@import "close-icon";

#err-msg-back-div {
  display: none;
  position: absolute;
  min-height: 120px;
  top: 20px;
  width: 60%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);

  p {
    padding: 5px 20px 10px 20px;
    margin: 0;
    display: block;
  }
  #err-msg-title {
    text-align: center;
    font-size: 25px;
    letter-spacing: 1.5px;
  }
  #err-msg-text-body {
    margin-top: 15px;
    //box-shadow: $box_shadow;
    #err-msg-message {
      color: black;
      font-size: 16px;
      text-align: center;
    }
    #err-msg-extra-message {
      color: black;
      text-align: right;
      font-style: italic;
      font-size: 13px;
      margin-left: 40%;
    }
  }

  .close-icon {
    @include close-icon(32px);
  }
}

.info-color {
  color: black;
  background-color: #a0cfdb;
  border: 2px solid #4cc2db;
  #err-msg-title {
    background: repeating-linear-gradient(-45deg, transparent, transparent 10px, #abdbe7 10px, #abdbe7 20px);
  }
  .close-icon {
    @include close-icon-color(#9cdb9f, #4cc2db);
  }
}

.error-color {
  color: black;
  background-color: #db8b7c;
  border: 2px solid #db665f;
  #err-msg-title {
    background: repeating-linear-gradient(-45deg, transparent, transparent 10px, #dba396 10px, #dba396 20px);
  }
  #err-msg-extra-message {
    color: #740203;
  }
  .close-icon {
    @include close-icon-color(#dba982, #6f6f6f);
  }
}

.success-color {
  color: black;
  background-color: #9cdb9f;
  border: 2px solid #00a81d;
  #err-msg-title {
    background: repeating-linear-gradient(-45deg, transparent, transparent 10px, #a6e7a9 10px, #a6e7a9 20px);
  }
  .close-icon {
    @include close-icon-color(#4cc2db, #00a81d);
  }
}

.warning-color {
  color: black;
  background-color: #dba982;
  border: 2px solid #db8842;
  #err-msg-title {
    background: repeating-linear-gradient(-45deg, transparent, transparent 10px, #e7b58c 10px, #e7b58c 20px);
  }
  #err-msg-extra-message {
    color: #740203;
  }
  .close-icon {
    @include close-icon-color(#cf7e67, #777777);
  }
}

@media screen and (max-width: 900px) {
  #err-msg-back-div {
    width: 70% !important;
    #err-msg-title {
      font-size: 20px !important;
    }
    #err-msg-message {
      font-size: 14px !important;
    }
    #err-msg-extra-message {
      font-size: 12px !important;
      margin-left: 20%!important;
    }
  }
}

@media screen and (max-width: 600px) {
  #err-msg-back-div {
    width: 90% !important;
    #err-msg-title {
      font-size: 18px !important;
    }
    #err-msg-message {
      font-size: 13px !important;
    }
    #err-msg-extra-message {
      font-size: 11px !important;
      margin-left: 0!important;
    }
  }
}
