<div id="err-msg-back-div" [ngClass]="STYLE_CLASSES[dem_object.type]">
  <div style="position: relative">
    <p id="err-msg-title">{{dem_object.title}}</p>
    <div class="close-icon" (click)="hide()"></div>
  </div>
  <div id="err-msg-text-body">
    <p id="err-msg-message">{{dem_object.message}}</p>
    <p id="err-msg-extra-message">{{dem_object.extra_message}}</p>
  </div>
</div>
