@import "box-shadow";

$X_width: 2px;
$X_top: $X_width * 3;

@mixin close-icon($val) {
  @extend .box-shadow;
  width: $val;
  height: $val;
  right: -$val/2;
  top: -$val/2;
  background-color: white;
  border-radius: 50%;
  &:before, &:after {
    position: absolute;
    top: $X_top;
    left: $val/2;
    content: ' ';
    height: $val * 0.6;
    width: $X_width;
    background-color: #333;
    opacity: 1;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  &:hover {
    opacity: 0.8;
  }
}

@mixin close-icon-color($color, $X_color) {
  background-color: $color!important;
  &:before, &:after {
    background-color: $X_color!important;
  }
}

.close-icon {
  cursor: pointer;
  position: absolute;
  opacity: 1;
  @include close-icon(64);
}
