.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.dialog {
  display: none;
  border-radius: 2px;
  z-index: 1000;
  position: fixed;
  right: 0;
  left: 0;
  top: 60px;
  margin-right: auto;
  margin-left: auto;
  min-height: 500px;
  max-height: 90%;
  width: 90%;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .dialog {
    top: 100px;
  }
}
@media screen and (max-height: 600px) {
  .dialog {
    top: 30px
  }
}
