$dima_tabs_height: 54px;
$tab_font_size: 12px;

$theme: $dark_lighter;

.dima-tabs {
  font-size: $tab_font_size;
  background-color: $theme;
  color: white;

  @extend .box-shadow;
  height: $dima_tabs_height;
  @include flexbox();

  .dima-tab-active {
    @extend .box-shadow;
  }

    &.dima-tab-dark {
      .dima-tab-active {
        background-color: $dark;
      }
      .dima-tab:hover {
        @extend .box-shadow;
        background-color: $dark;
      }
    }
    &.dima-tab-primary {
      .dima-tab-active {
        background-color: $primary;
      }
      .dima-tab:hover {
        @extend .box-shadow;
        background-color: $primary;
      }
    }
    &.dima-tab-light {
      .dima-tab-active {
        background-color: $light;
      }
      .dima-tab:hover {
        @extend .box-shadow;
        background-color: $light_darker;
      }
    }

    .dima-tab {
      @include flex(1 1);
      height: inherit;
      line-height: $dima_tabs_height;
      text-align: center;
    }
}

.dima-tab-dark {
  background-color: $dark_lighter;
  color: white;
}
.dima-tab-primary {
  background-color: $primary_lighter;
  color: white;
}
.dima-tab-light {
  background-color: $light;
  color: black;
}
