$dima_navbar_height: 54px;
$theme: $dark;

$btn_hover_colors: rgb(32, 187, 123);

.dima-navbar {
  @extend .box-shadow;
  @include flexbox();

  width: 100%;
  flex-flow: row nowrap;
  color: white;
  line-height: $dima_navbar_height;
  height: $dima_navbar_height;
  background-color: $theme;
  max-height: $dima_navbar_height;

  .btn {
    font-size: 15px;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
    line-height: $dima_navbar_height - 5;
    border: 1px solid $theme;
    background-color: $theme;

    .ion-icon {
      line-height: $dima_navbar_height;
    }
  }

  .item {
    @include flex(0.25 60px);
    align-self: stretch;
  }

  .btn:hover {
    color: $btn_hover_colors;
    // border: 1px solid $btn_hover_colors;
    background: $theme;
  }
  .left {
    @include flexbox();
    width: 33.33%;
    .item {
      justify-content: flex-start;
    }
  }
  .middle {
    @include flexbox();
    width: 33.33%;
    .item {
      @include flex(1 60px);
      justify-content: center;
    }
    color: white;
    font-size: 30px;
    text-align: center;
  }
  .right {
    @include flexbox();
    width: 33.33%;
    justify-content: flex-end;
    .item {
      margin: left;
      width: 60px;
    }
  }

  @media screen and (max-width: 600px) {
    .item {
      @include flex(1 60px);
    }
    .middle {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 1000px) {
    .item {
      @include flex(0.5 60px);
    }
  }
}
