@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin flex-for-item-amount($a) {
  @include flex(1 1 (1/$a)*100%);
}

@mixin flex-for-item-amount-i($a) {
  @include flex(1 1 (1/$a)*100%!important);
}

@mixin flex-item($v, $a) {
  @include flex($v 1 ($v/$a)*100%);
}

@mixin flex-item-i($v, $a) {
  @include flex($v 1 ($v/$a)*100%!important);
}

.wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
}
