$diameter: 10vw;

.loader {
  border: 5px solid transparent;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: $diameter;
  height: $diameter;
  margin: auto;
  -webkit-animation: spin 1s ease-in-out infinite; /* Safari */
  animation: spin 1s ease-in-out infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
